%h1 Flow Analysis

A _flow_ is piece of information that represents a record of data transfer between two IP addresses. This is a crucial entity in both traffic and security monitoring.  Trisul stores all _flows_ in highly efficient, compressed format optimized for fast queries over large datasets. This section describes the tools available to work with flows. 
    

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h5
          %i.fa.fa-gear
          Tools 
          %small
            working with flows in Trisul
      .panel-body
        %dl
          %dt
            %a{href:"tracker.html"} Flow Tracker
          %dd
            Tracks the top-N flows matching a certain criteria over a certain period of time.

          %dt
            %a{href:"tagger.html"} Flow Tagger
          %dd
            Tags interesting flows based on observation of certain types of traffic.

          %dt
            %a{href:"stabber.html"} Real Time Stabber
          %dd
            A stabber that enables you to monitor _currently active_ flows involving a host or application
          %dt
            %a{href:"/docs/ug/tools/explore_flows.html"} Explore Flows
          %dd
            General purpose flow query

          %dt
            %a{href:"/docs/ug/tools/investigate_ip_activity.html"} Investigate IP activity
          %dd
            Investigate all flow based and alert activity of an IP 

  .col-md-6
    .panel.panel-info
      .panel-heading
        %h5
          %i.fa.fa-gear
          Howto .. with flows
      .panel-body
        %ul
          %li Find out which flows caused a traffic spike
          %li View flow activity of a host or port in real time 
          %li Jump from alerts to flows that caused them
          %li Search flows for IP
          %li Optimize full content storage (eg, store only first 1M of each flow)
        %a.btn.btn-sm.btn-default{:href=>"tasks.html"}
          All tasks


.well
  %h3 Working with flows  
  You can do all of the following 
  %ol
    %li Record all flows, no summarization or roll ups
    %li Fast retrieval of flows 
    %li Access to flows from alerts, traffic, end points
    %li Pull up PCAPs for any flow
    %li Flow Taggers - Tag flows automatically for future searches
    %li Flow Tracker - Track top flows that interest you
    %li Flow alerts - Get an alert when someone uploads 10MB out of your network
    %li Payload search - Reassemble TCP, HTTP and search inside flows

  
