.container
    .row
        .col-md-12 
            %h1  Screencasts 

            View all Trisul screencasts on <a href='http://www.screenr.com/user?username=vivekrj'>screenr</a>

    .row
        .col-md-6
            %h4 Pivoting in realtime IDS alert viewer
            %iframe{:src=>"http://www.screenr.com/embed/Tl5s", :width=>"400", :height=>"244", :frameborder=>"0"}
        .col-md-6
            %h4 Using the Bulk PCAP importer
            %iframe{:src=>"http://www.screenr.com/embed/rl5s", :width=>"400", :height=>"244", :frameborder=>"0"}

    .row
        .col-md-6
            %h4 Monthly alert calendar 
            %iframe{:src=>"http://www.screenr.com/embed/1jf", :width=>"400", :height=>"244", :frameborder=>"0"}

        .col-md-6
            %h4 Retro analysis intro
            %iframe{:src=>"http://www.screenr.com/embed/AQv", :width=>"400", :height=>"244", :frameborder=>"0"}
