-@activetab = {:devs => 'active' } 
.container
  .row.well
    .col-md-8
      %h1
        Trisul Remote Protocol 
      %h5
        Write reusable scripts to create your own reports in any format, automate hunting, and other security monitoring tasks

      %h3 Get started
      %p
        This short step by step tutorial explains how you can get a ruby script running and exchange a simple HelloMessage with the Trisul server. 
      %ul
        %li
          %a{:href=>"trpgemsteps.html"}
            Step by step tutorial using Ruby 

    .col-md-4
      %img{:src=>"images/trp_sample.png"} 

  .row
    .col-md-6
      .row
        .col-xs-12
          %ul.categorized-view
            %li
              %h5 Documentation
              %a{:href=>"https://github.com/trisulnsm/trisul-scripts/blob/master/trp/trp_proto.md",:target=>"_new"}
                API message reference (Github)
              %a{:href=>"https://github.com/trisulnsm/trisul-scripts/tree/master/trp",:target=>"_new"}
                TRP sample scripts (Github)
              %a{:href=>"trpprogmodel.html"}
                Programming model
              %a{:href=>"http://rubydoc.info/gems/trisulrp/frames"}
                TrisulRP Ruby Gem RDOCs (External)
        .col-xs-12         
          %ul.categorized-view
            %li
              %h5 Other links
              %a{:href=>"http://code.google.com/p/protobuf/"}
                Google protocol buffers on which TRP is built
              %a{:href=>"/docs/ref/trpproto.html"}
                The trp.proto file - if you want to write clients in any language supported by protocol buffers
              %a{:href=>"https://github.com/trisulnsm/trisulrp"}
                The trisulrp ruby gem project on Github. Pulls welcome!




    .col-md-6
      %ul.categorized-view
        %li
          %h5.fa.fa-github
            %a{:href=>"code_samples.html"}
              Github code samples 
      %p
        Beginner ? Here are some ready to run scripts from our open <a href='https://github.com/trisulnsm/trisul-scripts' target='_blank'>Github repo</a>  to get you started


      %ul.list-view
        %li
          %h5
            %a{:href=>"samples/resources_step_by_step.html"}
              print_resources.rb
            %p.meta-data 
          %p
            Print HTTP URLs seen by Trisul over a recent time interval. This is a step-by-step tutorial that also explains how to work with IPs and hostnames.
        %li
          %h5
            %a{:href=>"samples/flows_for_ip.html"}
              flows_for_ip.rb 
          %p.meta-data
          %p
            View top 100 flows for an IP in a time window.
        %li
          %h5
            %a{:href=>"samples/pcap_simple.html"}
              pcap_simple.rb 
          %p.meta-data
          %p
            Get all SMTP and DNS packets in last one hour as a PCAP
     
