%li#intro
  %a{:href=>'/docs/ug/intro/index.html'}
    1. Introduction
%li#install
  %a{:href=>'/docs/ug/install/index.html'}
    2. Install and run 
%li#domain
  %a{:href=>'/docs/ug/domain/index.html'}
    3. Manage a Trisul domain
%li#basicusage
  %a{:href=>'/docs/ug/basicusage/index.html'}
    4. Basic usage
%li#ui
  %a{:href=>'/docs/ug/ui/index.html'}
    5. Navigating the UI
%li#cg
  %a{:href=>'/docs/ug/cg/index.html'}
    6. Traffic monitoring

%li#flow
  %a{:href=>'/docs/ug/flow/index.html'}
    7. Flow analysis

%li#caps
  %a{:href=>'/docs/ug/caps/index.html'}
    8. Packet captures

%li#alerts
  %a{:href=>'/docs/ug/alerts/manage.html'}
    9. Alerts

%li#resources
  %a{:href=>'/docs/ug/resources/index.html'}
    10. Resources       

%li#reports
  %a{:href=>'/docs/ug/reports/index.html'}
    11. Reports

%li#webadmin
  %a{:href=>'/docs/ug/webadmin/index.html'}
    12. Web Admin

%li#netflow
  %a{:href=>'/docs/ug/netflow/index.html'}
    13. Netflow analysis

%li#tools
  %a{:href=>'/docs/ug/tools/index.html'}
    14. Tools

%li#edges
  %a{:href=>'/docs/ug/edges/index.html'}
    15. Edges

%li#isp
  %a{:href=>'/docs/ug/isp/index.html'}
    16. For ISPs

 
%li#ha
  %a{:href=>'/docs/ug/ha/index.html'}
    17. High Availability


%li#default
  %p{:style=>'min-height:50px'}




  
